-r requirements.txt

alembic

pytest
pytest-cov
webtest
pytest-clarity
mako>=1.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
waitress>=2.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
